extends layout
block content
    main
        .ui.black.big.launch.right.attached.fixed.sticky.button#selectChartType
            i.content.icon
            span.text 选择图表
        .ui.vertical.sidebar.menu#chartType
            a.active.item
                i.grid.download.icon
                |  Dom loaded 时间
            a.item
                i.linkify.icon
                |  链接点击排序
            a.item
                i.photo.icon
                |  热力点击图
        .ui.basic.segment
            h2 Dom loaded （页面从开始下载到加载完成）时间
            .ui.divider
            section.ui.segment
                table
                    thead
                    each obj in [{time: 1}]
                        tr
                            td= obj.time
    script.
        var $menu = $("#chartType");

        $menu.sidebar({
            transition: 'uncover',
            mobileTransition: 'uncover'
        });
        $('.launch.button, .view-ui, .launch.item')
                .on('click', function (event) {
                    $menu.sidebar('toggle');
                    event.preventDefault();
                })
        ;
        $('#selectChartType').sticky();